<div class="jumbotron">
  <h1 class="display-4">Project: Learning Ruby on Rails</h1>
  <p class="lead">Welcome!</p>
  <hr class="my-4">
  <p>This is a sample/practice project for learning Ruby on Rails.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
