<% provide(:title, "Register") %>
<% provide(:submit_btn_text, "Create a New Account") %>

<div class="container">
  <h1 class="text-center">Register</h1>
  <h3 class="text-center">Create a New Account</h3>

  <div class="row justify-content-center">
    <div class="col-6">
      <%= render 'form', form_action: "/register" %>
    </div>
  </div>
</div>
