<% if object.errors.any? %>
  <div id="errors" class="alert alert-danger">
    <%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name %> from being saved:

    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
