<% provide(:title, "Posts") %>

<div class="container mt-5">
    <h2 class="text-center">All Posts</h2>

    <%= will_paginate renderer: custom_paginate_renderer %>
    
    <div class="mt-3">
        <%= render @posts %>
    </div>
</div>